
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h2>Steel Profiles</h2>

<p>
    @Html.ActionLink("Create New Profile", "New", "SteelProfiles", new { @class = "btn btn-primary" })
</p>

<table id="profile_table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Profile Type
            </th>
            <th>
                Project Name
            </th>
            <th>
                Status
            </th>
            <th>
                Created By
            </th>
            <th>
                Created Date
            </th>
            <th>
                Quantity
            </th>
            <th>
                Element Length [mm]
            </th>
            <th>
                Occupied By
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#profile_table").DataTable({

                ajax: {
                    url: "/api/SteelProfiles",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "profileDetails.name"
                    },
                    {
                        data: "projectInformations.name"
                    },
                    {
                        data: "status.name"
                    },
                    {
                        data: "createdByUser"
                    },
                    {
                        data: "createdDate"
                    },
                    {
                        data: "quantity"
                    },
                    {
                        data: "length"
                    },
                    {
                        data: "occupiedByUser"
                    },
                    {
                        data: "id",
                        render: function (data, type, profile) {
                            return "<button class='btn-link js-delete' data-profile-id=" + data + ">Delete</button>" + "|  " + "<a class='btn-link' href='/SteelProfiles/edit/" + profile.id + "'> Edit </a>";
                        }
                    }
                ]
            });

            $("#profile_table").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this profile?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/SteelProfiles/" + button.attr("data-profile-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

        });
    </script>
}