
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("New Project", "New", "Projects", null, new { @class = "btn btn-primary" })
</p>

<table id="projects_table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#projects_table").DataTable({

                ajax: {
                    url: "/api/Projects",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data, type, project) {
                            return "<button class='btn-link js-delete' data-project-id=" + data + ">Delete</button>" + "| " + "<a class='btn-link' href='/projects/edit/" + project.id + "'> Edit </a>";
                        }
                    }
                ]
            });

            $("#projects_table").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this project?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/projects/" + button.attr("data-project-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

        });
    </script>
}